name: Build & Test

on: [push]

jobs:
  build-nextjs-run-cypress-tests:
    runs-on: ubuntu-latest
    container: cypress/browsers:node14.17.0-chrome91-ff89
    env:
      working-directory: ./app
    
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      
      - name: npm install, and build code
        working-directory: ${{env.work-dir}}
        run: |
          npm install
          npm run build --if-present
      
      - name: copy test results
        working-directory: ${{env.work-dir}}
        run: |
          cp -r cypress/videos public/videos
      
      # - name: Merge test reports
      #   run: npm run combine:report

      - name: Generate HTML report
        run: npm run generate:report
      
      - name: Deploy report page to GitHub Page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          
      # - name: npm run, and report tests
      #   working-directory: ${{env.work-dir}}
      #   run: |
      #     npm run cy:run:reporter
      
      # - name: deploy report page to GitHub Page
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: ./public
