name: Build & Test

on: [push]

jobs:
  build-nextjs-run-cypress-tests:
    runs-on: ubuntu-latest
    container: cypress/browsers:node14.17.0-chrome91-ff89
    
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      
      - name: npm install, and build code
        run: |
          npm install
          npm run build --if-present
      
      - name: npm run, and report tests
        run: |
          npm run cy:run:reporter
      
      - name: copy test results
        run: |
          cp -r cypress/test-results public/test-results
          cp -r cypress/videos public/videos
        
      - name: deploy report page to GitHub Page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
      
      
#       - name: archive test results
#         uses: actions/upload-artifact@v3
#         with:
#           name: test-report
#           path: cypress/test-results/*.html
          
# jobs:
#   cache-npm-build:
#     runs-on: ubuntu-20.04

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v2
#           with:
#             build: npm run build

#       - name: Install dependencies
#         run: npm install

#       - name: Cache dependencies
#         uses: actions/cache@v2
#         with:
#           build: npm run build

#   test-cypress:
#     needs: cache-npm-build
#     runs-on: ubuntu-20.04
#     container: cypress/browsers:node14.17.0-chrome91-ff89
#     steps:
#       - uses: cypress-io/github-action@v2
#         with:
#           start: npm run cy:run:reporter

# - uses: actions/checkout@v2
# #       - uses: cypress-io/github-action@v2
# #         with:
# #           build: npm run build
# #           start: npm run cy:run:reporter
